<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="card shadow-effect">
        <img
          src="https://images.pexels.com/photos/1253951/pexels-photo-1253951.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt=""
          class="card-img-top img-fluid"
        />
        <div class="card-body">
          <small class="bg-light text-danger text-center">Design</small>
          <small class="bg-light text-success text-center ml-2">Featured</small>
          <small class="bg-light text-info text-center ml-2"
            >Views - 100,256</small
          >
          <small class="bg-light text-warning text-center ml-2"
            >LAST UPDATED - SEP 20, 2021</small
          >
          <h1 class="mt-3 mb-3">
            HOW TO START A BLOG IN 2023 EDITED NEW CATEGORY
          </h1>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero
            quisquam illum, beatae magni aspernatur eum, vel blanditiis aliquam
            neque reiciendis quos nobis dolor cupiditate voluptatibus rerum
            dolorem ipsam repudiandae id. Fugiat modi at ratione perferendis
            iusto illo optio enim itaque dolorem qui harum exercitationem
            tempore, ad quas natus voluptatem, praesentium, minima porro et
            corporis eius? Provident quam voluptates ipsa numquam. Perspiciatis,
            tenetur? Iure ducimus, sed assumenda vitae itaque culpa commodi
            mollitia ex suscipit debitis voluptatem at enim dolor tempora odit
            recusandae quis! Perferendis totam provident excepturi sunt optio
            accusantium possimus! Dolor dolorem nihil expedita consequatur
            consequuntur. Veritatis cumque repellendus enim eum quae impedit aut
            nihil praesentium eligendi, ipsa suscipit hic? Tempora minus vel
            atque nemo, maiores nam impedit nostrum? Laudantium. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Voluptas magni neque
            laboriosam amet accusantium? Molestiae iure adipisci velit eos,
            deserunt cupiditate quasi quod accusantium commodi libero nemo,
            laborum quis earum. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Maxime at obcaecati facilis dolore saepe quasi,
            odit incidunt eius culpa natus vero esse repellat earum, similique,
            non blanditiis quas excepturi corrupti! Quae pariatur delectus
            veritatis quod ex quis facilis laboriosam, assumenda aliquam eius
            tempore sequi. Ipsam at voluptas ratione tenetur! Laudantium quo
            sequi magni pariatur velit quis maxime, ad quas ut! Placeat
            exercitationem vitae adipisci odio quia, voluptates, ratione
            distinctio hic quisquam, cum magni qui. Voluptatibus eum est impedit
            temporibus nam nisi quo, optio molestias dolore. Necessitatibus hic
            aperiam inventore! Dignissimos. Ullam tempore quibusdam beatae animi
            incidunt tempora quaerat quam similique. Quae magnam reprehenderit
            nostrum cupiditate possimus? Qui cumque magnam placeat fuga,
            praesentium minus veritatis velit, possimus quisquam obcaecati, sunt
            perferendis? Aperiam aut dolore beatae? A eaque magnam maxime fugit,
            harum sint tempora quidem nam voluptates molestias nesciunt iure
            esse, et recusandae architecto quibusdam. Tenetur voluptas
            temporibus consectetur, dicta sunt dolorum. Quasi, est non iusto
            delectus at quae, omnis voluptatem earum incidunt tenetur
            perferendis alias laborum quas dolorum deserunt reiciendis commodi
            nemo. Ab reiciendis vel minima consequatur asperiores. Laborum, vero
            reprehenderit. Non recusandae vero inventore? Laborum iure aliquid
            deleniti consectetur hic exercitationem corrupti fugit, ipsa,
            voluptatibus dolorem tenetur! Totam veniam quos eligendi quam earum
            sint odit perspiciatis autem voluptatum, dignissimos fuga? Quo
            dolore iusto impedit accusamus, ipsum ad cum soluta voluptatibus
            corrupti quam id provident amet pariatur ducimus possimus recusandae
            voluptate vero dicta velit minus officia! Et excepturi maxime
            molestiae est. Saepe cum dicta corporis sit quae temporibus fugit
            quidem suscipit voluptatem? Neque accusamus, velit temporibus fugiat
            nemo iusto quis rerum dolore ipsum. Nam omnis ullam aut odit fuga
            excepturi eligendi. Reprehenderit minus exercitationem iste illum
            omnis delectus inventore? Porro officiis qui, vitae, animi obcaecati
            aspernatur in tempora, consequuntur ea voluptas tempore. Debitis
            quia, dolorum eum expedita dicta fugiat magnam nihil.
          </p>
        </div>
      </div>
      <app-comment-form></app-comment-form>
    </div>
    <div class="col-md-3">
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
    </div>
  </div>
</div>
